{% extends "RedpillLinproExamplesBundle::layout.html.twig" %}

{% block title "ArrayExamples" %}

{% block content %}
    <h1>ArrayExamples</h1>

<table>
    <tr>
    <th>Name</th>
    <th>&nbsp;</th>
    </tr>
    {% for arrayexample in arrayexamples %}
      <tr>
      <td>
      <a href="{{ path('arrayexample_get',{ 'id': arrayexample.id}) }}">{{ arrayexample.Name }}</a>

      </td>
      <td>
      <a href="{{ path('arrayexample_delete',{ 'id': arrayexample.id}) }}">Delete</a>
      </td>
      </tr>
    {% endfor %}
</table>

{% endblock %}

